{% extends "busqueda/index.html" %}

{% block titulo %}
<h1 class="mb-5">Testimonials</h1>                                
{% endblock titulo %}


{% block contenido %}

<table>
    <tr>
        <td width="200"><h2>Testimonial</h2></td>
        <td>
            <a
            href="{% url 'testimonialCreate' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="Crear"> </i>
            </a>
        </td>        
    </tr>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>City</th>
            <th>Testimonial</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for t in testimonial_list  %}
        <tr>
            <td>{{ t.id }}</td>
            <td>{{ t.firstName }}</td>
            <td>{{ t.lastName }}</td>
            <td>{{ t.city }}</td>
            <td>{{ t.testimonial }}</td>
            <td>
                <a
                  href="{% url 'testimonialUpdate' t.id %}"
                  class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                </a>
                <a
                  href="{% url 'testimonialDelete' t.id %}"
                  class="btn btn-danger"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                </a>                
            </td>              
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}